<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - STOCKOLON 26</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/stockolon_logo.png')}}" id="logo"/>
        <button id="signup_btn">회원가입</button>
    </header>
<main>
    <form action="{{ url_for('auth.signup') }}" method="POST">
        <input type="text" name="name" placeholder="이름" required>

        <input type="text" name="usernum" placeholder="학번" required>

        <div>
            <input type="text" id="email_id" name="email_id" placeholder="학교 계정 입력" required>
        
            <span>@goedu.kr</span>
        
            <button type="button" id="send_code_btn">이메일 인증</button>
        </div>

        <input type="text" name="email_code" placeholder="인증번호 입력" required>

        <input type="password" name="password" placeholder="비밀번호" required>

        <input type="password" name="password_check" placeholder="비밀번호 확인" required>

        <button type="submit">회원가입</button>
    </form>
</main>
    <footer>

    </footer>
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</body>
</html>