@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --bg-main: #111111;
    --bg-card: #1a1a1a;
    --border-card: #2a2a2a;

    --text-primary: #ffffff;
    --text-secondary: #7a7a7a;

    --color-stock-up: #ff3b30;
    --color-stock-down: #007aff;
    --color-brand-mint: #00ff99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: var(--bg-main);
    color: var(--text-primary);
    font-family: "Noto Sans KR", sans-serif;
}

.sub_text {
    color: var(--text-secondary);
}