/* base.css : 기본 디자인을 구성하는 파일 */
:root {
  /* 시스템 배경 및 레이아웃 컬러 */
  --bg-main: #111111;         /* 전체 화면 배경 */
  --bg-card: #1a1a1a;         /* 컴포넌트(카드) 배경 */
  --border-card: #2a2a2a;     /* 카드 테두리 선 */

  /* 타이포그래피 컬러 */
  --text-primary: #ffffff;    /* 메인 글자색 (흰색) */
  --text-secondary: #7a7a7a;  /* 서브 설명 글자색 (회색) */

  /* 상태 및 포인트 컬러 (주식 변동 및 브랜드) */
  --color-stock-up: #ff3b30;     /* 상승 (레드) */
  --color-stock-down: #007aff;   /* 하락 (블루) */
  --color-brand-mint: #00ff99;   /* 로고에 쓰인 시그니처 민트 (포인트용) */
}

html { margin: 0; }
body {
  background-color: var(--bg-main);
}

/* Base */


/* Mobile */


/* Tablet */
@media screen and (min-width: 768px) {

}

/* Desktop */
@media screen and (min-width: 1024px) {

}