<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOCKOLON 26</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/stockolon_logo.png')}}" id="logo"/>
        <button id="ranking_btn">랭킹</button>
        <button id="setting_btn">설정</button>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>