<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News - STOCKOLON 26</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('main.index') }}" class="logo-link" aria-label="메인으로 이동">
            <img src="{{ url_for('static', filename='images/stockolon_logo.png')}}" id="logo"/>
        </a>
        <button id="ranking_btn">호재</button>
        <button id="setting_btn">악재</button>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>
